#button{
	border-radius:10px;
	width:100px;
	height:40px;
	background:green;
	font-weight:bold;
	font-size:20px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
body {
	background-color: none;
	padding: none;
	margin: 0px;
	border: none;
}

html {
	background-color: none;
	padding: none;
	margin: none;
	border: none;
}

video {
	margin-left: auto;
	margin-right: auto;
	display: block;
	
}

.box {
	width: 100%;
	height: 100%;
	padding: none;
	background-color: none;
	margin: none;
}

.column1 {
	background-image: url("images/left.png");
	background-size: 100%;
	width: 33%;
	height: 100%;
	float: left;
	margin: none;
}

.column2 {
	background-color: white;
	width: 34%;
	height: 100%;
	float: left;
	margin: none;
}

.column3 {
	background-image: url("images/right.png");
	background-size: 100%;
	width: 33%;
	height: 100%;
	float: left;
	margin: none;
}
		